/* catch all */
* {
	margin: 0;
	padding: 0;
  }

html main body {
	font-family: "Bookman Old Style";
}
h1 {
	font-family: "Bookman Old Style";
	font-size: 50px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 50px;
	color: black;
	margin: 2px;
}
h2 {
	font-family: "Bookman Old Style";
	font-size: 40px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 40px;
	color: #7d97ad;
	margin: 2px;
}
h3 {
	font-family: "Bookman Old Style";
	font-size: 35px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 35px;
	margin: 2px;
}
h4 {
	font-family: "Bookman Old Style";
	font-size: 25px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 25px;
	color: black;
	margin: 2px;
}
h5 {
	font-family: "Bookman Old Style";
	font-size: 20px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 20px;
	color: black;
	margin: 2px;
}
p {
	font-family: "Bookman Old Style";
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 20px;
	color: black;
	margin: 2px;
}
blockquote {
	font-family: "Bookman Old Style";
	font-size: 17.5px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 25px;
	margin: 2px;
}
pre {
	font-family: "Bookman Old Style";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	color: black;
	margin: 2px;
}
header {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}